.float_right
  = link_to "Destroy", item_path(@item), :method => :delete, :confirm => "This action is irreversible. Are you sure you want to continue?"
  |
  = link_to 'Edit', edit_item_path(@item)
  |
  = link_to 'Back', manage_items_path

#id= notice

%p
  %b Title
  = @item.title


%p
  %b Caption
  = @item.caption

%p
  %b item:
  = image_tag @item.image.url(:thumb)
